# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# Dependency directories
wpSalesforceApiLoad
node_modules
dist
dist-ssr
imgina-chatbot


# Editor files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.sw?
.cspell.json
.env
.env.*
.env
